@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,300&display=swap');

h1 {
  font-family: 'Fira Sans', sans-serif;
}

h4 {
  font-family: 'Fira Sans', 'sans-serif';
  font-weight: 300;
  font-style: italic;
}

.icon {
  transform: scale(2);
  color: whitesmoke;
}

@media (max-width: 1024px) {
  .social-icons {
    gap: 2rem;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-12px);
  }

  60% {
    transform: translateY(12px);
  }
}